#Version of docker image: aztecprotocol/aztec to use
DOCKER_TAG=2.0.2

#List of URLs of the Ethereum RPC nodes that services will connect to (comma separated)
ETHEREUM_HOSTS=http://localhost:8545

#List of URLs of the Ethereum RPC consensus nodes that services will connect to (comma separated)
L1_CONSENSUS_HOST_URLS=http://localhost:5052

#The IP and port for the P2P service
P2P_IP=
P2P_PORT=40400

#Port to run the Aztec Services on
PORT=8080

#The private key to be used by the publisher.
#SEQ_PUBLISHER_PRIVATE_KEY=

#Private key of the validator participating in attestation duties. Fund VALIDATOR_ADDRESS with at least 0.01 sepoliaETH.
VALIDATOR_PRIVATE_KEYS=
VALIDATOR_ADDRESS=

#Block reward recipient ETH address. On mainnet, use a unique hardware wallet secured ETH address.
COINBASE=