#Version of docker image: aztecprotocol/aztec to use
DOCKER_TAG=2.0.3

#List of Ethereum RPC nodes URLs (comma separated). If multiple provided, the first is used by defaults. e.g. http://192.168.1.123:8545
ETHEREUM_HOSTS=http://host.docker.internal:8545

#List of Ethereum RPC consensus nodes URLs (comma separated). If multiple provided, the first is used by defaults. e.g. http://192.168.1.123:5052
L1_CONSENSUS_HOST_URLS=http://host.docker.internal:5052

#The IP and port for the P2P service
P2P_IP=
P2P_PORT=40400

#Port to run the Aztec Services on
AZTEC_PORT=8080

#The private key to be used by the publisher.
#SEQ_PUBLISHER_PRIVATE_KEY=

#Private key of the validator participating in attestation duties. Fund VALIDATOR_ADDRESS with at least 0.01 sepoliaETH.
VALIDATOR_PRIVATE_KEYS=
VALIDATOR_ADDRESS=

#Block reward recipient ETH address. On mainnet, use a unique hardware wallet secured ETH address.
COINBASE=

#Logging verbosity for aztec container (error|warn|info|debug|trace)
LOG_LEVEL=info
