services:
  aztec-node:
    container_name: aztec-sequencer
    image: aztecprotocol/aztec:${DOCKER_TAG:-2.0.2}
    restart: unless-stopped
    environment:
      NETWORK: testnet
      ETHEREUM_HOSTS: ${ETHEREUM_HOSTS}
      L1_CONSENSUS_HOST_URLS: ${L1_CONSENSUS_HOST_URLS}
      DATA_DIRECTORY: /data
      VALIDATOR_PRIVATE_KEYS: ${VALIDATOR_PRIVATE_KEYS:-}
      COINBASE: ${COINBASE}
      P2P_IP: ${P2P_IP:-}
      P2P_PORT: ${P2P_PORT}
      PORT: ${PORT}
      LOG_LEVEL: debug
      SEQ_PUBLISHER_PRIVATE_KEY: ${SEQ_PUBLISHER_PRIVATE_KEY:-}
    entrypoint: >
      sh -c 'node --no-warnings /usr/src/yarn-project/aztec/dest/bin/index.js start --node --archiver --sequencer'
      - ${P2P_PORT:-40400}:40400/tcp
      - ${P2P_PORT:-40400}:40400/udp
      - ${PORT:-8080}:8080
    volumes:
      -  /opt/ethpillar/aztec/data:/data
    network_mode: host