services:
  aztec-node:
    container_name: aztec-sequencer
    image: aztecprotocol/aztec:${DOCKER_TAG:-2.0.3}
    restart: unless-stopped
    stop_grace_period: 1m
    mem_limit: 16g                          # Limit to 16GB RAM
    mem_reservation: 8g                     # Reserve 8GB RAM
    security_opt:
      - no-new-privileges:true              # Prevent gaining additional privileges
    tmpfs:
      - /tmp:size=1g                        # Provide writable /tmp
    cap_drop:                               # Drop all capabilities
      - ALL
    cap_add:                                # Add only required capabilities
      - NET_BIND_SERVICE                    # Needed for binding to ports
    environment:
      NETWORK: testnet
      ETHEREUM_HOSTS: ${ETHEREUM_HOSTS}
      L1_CONSENSUS_HOST_URLS: ${L1_CONSENSUS_HOST_URLS}
      DATA_DIRECTORY: /data
      VALIDATOR_PRIVATE_KEYS: ${VALIDATOR_PRIVATE_KEYS:-}
      COINBASE: ${COINBASE}
      P2P_IP: ${P2P_IP:-}
      P2P_PORT: ${P2P_PORT}
      PORT: ${PORT}
      LOG_LEVEL: ${LOG_LEVEL:-info}
      SEQ_PUBLISHER_PRIVATE_KEY: ${SEQ_PUBLISHER_PRIVATE_KEY:-}
    entrypoint: >
      sh -c 'node --no-warnings /usr/src/yarn-project/aztec/dest/bin/index.js start --node --archiver --sequencer'
    ports:
      - target: ${PORT:-8080}
        published: ${PORT:-8080}
        protocol: tcp
        host_ip: 127.0.0.1
      - target: ${P2P_PORT:-40400}
        published: ${P2P_PORT:-40400}
        protocol: tcp
      - target: ${P2P_PORT:-40400}
        published: ${P2P_PORT:-40400}
        protocol: udp
    volumes:
      -  /opt/ethpillar/aztec/data:/data
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "3"
        compress: "true"
    extra_hosts:
      - "host.docker.internal:host-gateway"
