[Unit]
Description=Contributoor Service
After=network-online.target
Wants=network-online.target
Documentation=https://docs.coincashew.com

[Service]
Type=simple
User=contributoor
Group=contributoor
Restart=always
RestartSec=5
WorkingDirectory=/opt/ethpillar/plugin-contributoor
ExecStart=/opt/ethpillar/plugin-contributoor/sentry --config /opt/ethpillar/plugin-contributoor/config.yaml

[Install]
WantedBy=multi-user.target
